.menu{
    position: absolute;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 5%;
    width: 100%;
    text-align: center;
}
.main-page{
    font-size: 2rem;
}
ul *{
    font-size: 1.1rem;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.menu a{
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu li.active{
    background-color: red;
}
.menu li:hover{
    background-color: blue;
}